- project = @project || find_project_for_blob(blob)

- if blob.is_a?(Array)
  - file_name, blob = blob
- else
  - blob = parse_search_result(blob)
  - file_name = blob.filename

- blob_link = namespace_project_blob_path(project.namespace, project, tree_join(blob.ref, file_name))
.blob-result
  .file-holder
    .file-title
      = link_to blob_link do
        = icon('fa-file')
        %strong
          - if @project
            = file_name
          - else
            #{project.name_with_namespace}:
            %i= file_name
    - if blob.data
      .file-content.code.term
        = render 'shared/file_highlight', blob: blob, first_line_number: blob.startline, blob_link: blob_link
